.CardItem {
  text-align: center;
}

.ItemImg {
  max-height: 320px;
}

.ItemHeader,
.Info {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  color: white;
}

.ItemFooter {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.Option {
  color: white;
  background-color: #244ced;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid #244ced;
  transition: all 0.2s;
  cursor: pointer;
}

.Option:hover {
  border: 1px solid white;
  scale: 1.05;

}