.container-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.container-social-media .img-logo {
  height: 1.8rem;
}
.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.container-footer h5 {
  font-size: 0.8rem;
  padding: 0.5rem;
}
